<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.autobots.cordova.imageDownloader"
  version="0.0.1">
  <name>Image Downloader for android</name>
  <description>
    A cordova plugin that provides the functionality to download internet image file to android photos gallery.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <dependency id="cordova-plugin-file-transfer" version=">=1.2.1" />

  <js-module src="www/ImageDownloader.js" name="ImageDownloader">
    <clobbers target="autobots.imageDownloader" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CopyToGallery">
        <param name="android-package" value="com.autobots.CopyToGallery"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/com/autobots/CopyToGallery.java" target-dir="src/com/autobots"/>
  </platform>
</plugin>